:root {
    --body-background: #21222d;
    --panel-background: #27273c; 
    --button-primary-background: #393657;
    --table-th-background: #393657;
    --item-border-color: #393657;
    --hr-border-color: #393657;
    --page-header-title-border-color: #393657;
    --panel-border-color: #393657;
    --category-background-color: #27273c;
    --category-border-color: #393657;
    --alert-background-color: #27273c;
    --alert-border-color: #393657;
    --modal-background: #27273c;
    --feed-has-unread-background-color: #393657;
    --category-has-unread-background-color: #393657;

    --body-color: #cec0f2;
    --title-color: #b194f5;
    --link-color: #5db6e1;
    --link-hover-color: #906be3;
    --link-focus-color: #906be3;
    --link-visited-color: #aa85e1; 
    --header-link-color: #9794ac; 
    --header-active-link-color: #aa85e1;
    --page-header-title-color: #b194f5;
    --logo-color: #906be3;
    --logo-hover-color-span: #aa85e1;
    --table-th-color: #cec0f2;
    --table-tr-hover-color: #b194f5;
    --button-primary-color: #cec0f2;
    --input-color: #cec0f2;
    --input-placeholder-color: #9794ac;
    --input-focus-color: #b194f5;
    --alert-color: #cec0f2;
    --alert-success-color: #5db6e1;
    --alert-success-background-color: #27273c;
    --alert-success-border-color: #393657;
    --alert-error-color: #f00;    /* --default */
    --alert-error-background-color: #27273c;
    --alert-error-border-color: #393657;
    --alert-info-color: #5db6e1;
    --alert-info-background-color: #27273c;
    --alert-info-border-color: #393657;
    --panel-color: #cec0f2;
    --modal-color: #cec0f2;
    --pagination-link-color: #cec0f2;
    --category-color: #cec0f2;
    --category-link-color: #9794ac;
    --category-link-hover-color: #b194f5;
    --item-status-read-title-link-color: #9794ac;
    --item-status-read-title-focus-color: #906be3;
    --item-meta-focus-color: #b194f5;
    --item-meta-li-color: #cec0f2;
    --current-item-border-color: #906be3;
    --entry-header-border-color: #393657;
    --entry-header-title-link-color: #b194f5;
    --entry-content-color: #cec0f2;
    --entry-content-code-color: #f00;
    --entry-content-code-background: #393657;
    --entry-content-code-border-color: #906be3;
    --entry-content-quote-color: #a0c0a4; 
    --entry-content-abbr-border-color: #a0c0a4;
    --entry-content-aside-border-color: #a0c0a4;
    --entry-enclosure-border-color: #393657;
    --parsing-error-color: #f00;
    --feed-parsing-error-background-color: #3c3836;
    --feed-parsing-error-border-style: solid;
    --feed-parsing-error-border-color: #504945;
    --feed-has-unread-border-style: solid;
    --feed-has-unread-border-color: #504945;
    --category-has-unread-border-style: solid;
    --category-has-unread-border-color: #504945;
    --keyboard-shortcuts-li-color: #cec0f2;
    --counter-color: #cec0f2;

    --button-primary-border-color: #393657;
    --button-primary-focus-border-color: #504945;
    --button-primary-focus-background: #504945;
    --input-border: 1px solid #393657;
    --input-focus-border-color: #504945;
    --input-focus-box-shadow: 0 0 8px #504945;

    --current-item-box-shadow: 0 0 8px #504945;
    --modal-box-shadow: 0 0 10px #504945;

    --item-padding: 4px;
    --item-title-link-font-weight: 400;
    --current-item-border-width: 2px;
}
